# insert a image
![text](https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRa7q8XhBB5inHO3kZa7CMM3NLEnAiVmgxTChTdxorZeVPQRRPu)

print("hello world")

In [0]:
# variable creation
a =  10
b =  10
a+b

20

In [0]:
name="Gitam"
print("university:"+name)

university:Gitam

In [0]:
name=input("Enter a name")
age=int(input("Enter age"))
print("my name is:",name,"and my age is:",age)

Enter a nameanvesh
Enter age19
my name is: anvesh and my age is: 19

# take two inputs and do the following arithematic operations
##add sub multipy divide

In [0]:
a=int(input("Enter a value:"))
b=int(input("Enter another value:"))
print("Sum is",a+b)
print("Difference is",a-b)
print("product is",a*b)
print("Quotient is",a/b)

Enter a value:10
Enter another value:15
Sum is 25
Difference is -5
product is 150
Quotient is 0.6666666666666666

Data types

##Integer
##Float
##Complex
##Boolean
##String

In [0]:
a=10
b=12,50
c=3+5j
print(type(a),type(b),type(c))

<class 'int'> <class 'tuple'> <class 'complex'>

# input a complex number

In [0]:
c=complex(3,5)
print(c)

(3+5j)

##Add and subtract two complex numbers

In [0]:
c1=4+5j
c2=10+20j
print("sum",c1+c2)
print("diffrerence",c1-c2)

sum (14+25j)
diffrerence (-6-15j)

## condition statement getting boolean value

In [0]:
a=10
b=7
a>b

True

##Finding Data type for given input

In [0]:
a="abc"
b="xyz"
print(type(a),type(b))

<class 'str'> <class 'str'>

In [0]:
a="100"
print(type(a))
b=int(a)
print(type(a))
c=float(a)
print(c)
print(type(c))
d=int(c)
print(d)

<class 'str'>
<class 'str'>
100.0
<class 'float'>
100

## Length of string

In [0]:
a="2000"
print(len(str(a)))

4

#Operators
##arthematic operators(+,-,*,%,//,**)
##logical operators(and,or,not)
##relation operators(<,>,<=,>=,==,!=)
##membership operators(in,not in)

###arthematic operators

In [0]:
a=20
b=10
print(a+b)
print(a-b)
print(a*b)
print(a//b)
print(a%b)
print(a**b)
print(a/b)

30
10
200
2
0
10240000000000
2.0

##relational operators

In [0]:
a=10
b=20
print(a>b)
print(a<b)
print(a<=b)
print(a>=b)
print(a==b)
print(a!=b)

False
True
True
False
False
True

###logical operators

In [0]:
a=20
b=10
print(a>b and a<b)
print(a>b or a<b)
x=(a>b and a<b)
print(not x)

False
True
True

## take two integers and do relation operators 
### <,>,<=,>=,==,!=

In [0]:
a=int(input("enter a value:"))
b=int(input("enter another value:"))
print(a>b)
print(a<b)
print(a<=b)
print(a>=b)
print(a==b)
print(a!=b)

enter a value:10
enter another value:15
False
True
True
False
False
True

## Membership operators
###in-true if value is found in sequence 
###not in--true if value is not found in the sequence

In [0]:
f=[1,2,3,4]
print(1 in f)
print(5 in f)
print(5 not in f)

True
False
True

## Condition statement
1.if
2.else
3.elif
## Syntax:
##### if condition:
> statements<br>
##### else:
> statements

##TO check even or odd

In [0]:
n=int(input("enter a number"))
if n%2 == 0:
     print("even")
else:
     print("odd")

enter a number8
even

## To check given number is multiple of 3and5

In [0]:
n=int(input("enter a number:"))
if n%3==0 and n%5==0:
  print("multiple of 3 and 5")
else:
  print("not amultiple of 3 and 5")

enter a number:45
multiple of 3 and 5

### Check given number is positive ,negative or zero

In [0]:
n=int(input("enter a number:"))
if n>0: 
   print("positive")
elif n<0:
   print("negative")
else : 
    print("equal to zero")

enter a number:0
equal to zero

## check the given year is leap year or not

In [0]:
year=int(input("enter a number:"))
if year%400 == 0 or  (year % 100 !=0 and year % 4 ==0):
  print("leap year")
else :
    print("not a leap year ")

enter a number:2016
leap year

## print numbers from 1 to 10

In [0]:
n=int(input("enter a number:"))
i=1
while i <= n:
  print(i,end=" ")
  i=i+1

enter a number:10
1 2 3 4 5 6 7 8 9 10

### read a no a input
### output should be sum of even no's from 1 to n

In [0]:
n=int(input("enter a number:"))
i = 1 
s = 0
while i<= n:
  if i % 2 ==0:
      s = s + i
  i=i + 1 
print(s)

enter a number:10
30