### Functional Programming
1. simple
2. easy to understand
3. better reusebility
4. length of program will be devided into sub programs

In [0]:
def nameofFunction(<parameters>):
    statements
    return

# read a number 
# print the Even digit sum from the number

# input : 1234
# output : 6(2+4)

In [10]:
def evenDigitsum(n):
  s=0
  while n!=0:
    r = n % 10
    if r % 2 == 0:
        s = s + r
    n = n // 10
  return s
evenDigitsum(1234)

6

In [12]:
# define return function
def square(x):
     print(x*x)
print(square(4))

16
None

In [13]:
def square(x):
    return x*x
square(3)

9

In [16]:
def cube(x):
    return x*x*x
cube(3)

27

In [18]:
def multiply(x,y=0):
  print("value of x=",x)
  print("value of y=",y)
  return(x*y)
print(multiply(y=2,x=4))

value of x= 4
value of y= 2
8

In [20]:
# swap value
def swap(x,y):
    z=x
    x=y
    y=z
    return(x,y)
swap(7,4)

(4, 7)

In [32]:
# input : 19535
# output : 9 (large digit of the given no)
def largedigit(n):
    large = 0
    while n!=0:
         r=n%10
         if large<r:
            large = r
         n=n//10
    return large
largedigit(19535)

9

## For loop
#### syntax 1:
for i in range (start,stop,step)
>statements
#### syntax 2:
for i interableobject:
>statement

In [34]:
# Function to print the numbers btw two limits
def printseries(lb,ub):
    for x in range(lb,ub+1):
        print(x,end =' ')
    return
printseries(1,10)

1 2 3 4 5 6 7 8 9 10

## Collection types:
1. List
2. Tupel
3. Set
4. Dictionary

#List
-one of the Data structure in python
-Data structure means to store ,sort and serch options
-it's one common Data structure in python, the items of list seperated by comma and enclosed in square brackets[]
##Example:
- list1=[1,2,3,4,5]
- list2=["Gitam"1,2]

In [40]:
li = [1,8,16,9,2]#Positive index is [0,1,2,3,4] Negative index is [-5,-4,-3,-2,1] 
print(li)#will print all numbers in the list
print(li[0])#will print the first number in the list
print(li[1])#will print the number in the list with index 1 i.e., 8
print(li[-5])#will print the number in the list with index -5 i.e.,1
print(li[2:])#will print the numbers in the list after index 2 including the number with index 2 
print(li[1:])#will print the numbers in the list after index 1 including the number with index 1
print(li[1:4])
print(li[-4:-1])

[1, 8, 16, 9, 2]
1
8
1
[16, 9, 2]
[8, 16, 9, 2]
[8, 16, 9]
[8, 16, 9]

In [41]:
# Update list 
li=['gitam',1234,'hyd']
print(li)
li[1] = 456
print(li)

['gitam', 1234, 'hyd']
['gitam', 456, 'hyd']

In [43]:
# delete a value from list
li=['gitam',1234,2018,2019,'hyd']
print(li)
del li[3] 
print(li)

['gitam', 1234, 2018, 2019, 'hyd']
['gitam', 1234, 2018, 'hyd']

In [0]:
# Basic list operations
li = [1 , 2 , 3 , ]