In [1]:
#Basic list functions
li = [1,9,16,25,5]
print(max(li))
print(min(li))
print(sum(li))
print(sum(li)//len(li))

25
1
56
11

In [10]:
li = [1,9,16,25,5]
li.append(29) # add the new items at li.
print (li)
li.insert(2,56) # add the new item at the specific index
print(li)
#li.append(9)
li.count(9) # return the value how many objects repeated 
li.index(56) # return the value at that index

[1, 9, 16, 25, 5, 29]
[1, 9, 56, 16, 25, 5, 29]

2

In [12]:
# Method of list objects 
 li = [1,9,16,56,25,5,9]
 li.sort() # sorts that list in ascending order
 print(li)
 print(li.pop()) # last index value 
 print (li.pop(1)) # remove the items from the list
 li

[1, 5, 9, 9, 16, 25, 56]
56
5

[1, 9, 9, 16, 25]

In [23]:
li1 = [1,6,19,25]
li.extend(li1)
li
# li.reverse()
#li.sort()

[1, 6, 9, 19, 22, 25, 45, 1, 6, 19, 25]

In [18]:
def largenumber(li):
    li.sort()
    return li[-1]
def genericlarge(li,n):
    li.sort()
    return li[-n]
li = [19,1,25,6,9,45,22]
print(largenumber(li))
print(genericlarge(li,3))

45
22

In [22]:
def smallnumber(li):
    li.sort()
    return li[0]
def genericsmall(li,n):
    li.sort()
    return li[n-1]
li = [19,1,25,6,9,45,22]
print(smallnumber(li))
print(genericsmall(li,3))

1
9

### Tuples
- parenthesis() -->Tuple and square brackets[]---> list
- difference between line and tupels  
    - list are mutable - can be changed/modified
    - used to access and modify,add,delete data
    - tuples are immutable - cannot be changed
    - used to access the data only

In [24]:
t1 = (1,2,3,4,5,6)
t1
print(type(t1),t1[1:5])

<class 'tuple'> (2, 3, 4, 5)

### Dictionaries
1. it works on the concept of set unique Data
2. keys,values is the unique identifier for the value
3. each key is seperated from its values with colon(:)
4. Each key and value is seperated with(,)
5. Dictionaries enchaned with curly bracs({})

In [57]:
d1 = {"Name":"Gitam","Email id":"221710801045@gitam.in","Address":"Hyderabad"}
print(d1["Name"])
print(d1["Email id"])
print(d1["Address"])
print(d1)

Gitam
221710801045@gitam.in
Hyderabad
{'Name': 'Gitam', 'Email id': '221710801045@gitam.in', 'Address': 'Hyderabad'}

In [61]:
d1 = {"Name":"Gitam","Email id":"221710801045@gamil.com","Adderss":"Hyderabad"}
d1["Email id"] = "gitampython@gmail.com" # update the data
print(d1)

{'Name': 'Gitam', 'Email id': 'gitampython@gmail.com', 'Adderss': 'Hyderabad'}

In [62]:
d1["course"]="python"# adding an entry
print(d1)

{'Name': 'Gitam', 'Email id': 'gitampython@gmail.com', 'Adderss': 'Hyderabad', 'course': 'python'}

In [63]:
del d1["Email id"]
print(d1)

{'Name': 'Gitam', 'Adderss': 'Hyderabad', 'course': 'python'}

In [64]:
d1.keys()

dict_keys(['Name', 'Adderss', 'course'])

In [65]:
d1.values()

dict_values(['Gitam', 'Hyderabad', 'python'])

In [66]:
d1.items() # the list of Dictioneries of keys and values

dict_items([('Name', 'Gitam'), ('Adderss', 'Hyderabad'), ('course', 'python')])

### Strings:
- Strings
- String sclicing
- Fundamental Programming with string in python

In [69]:
s1 = 'python'
print(s1)
print(type(s1))

python
<class 'str'>

In [70]:
s1= 'python'
print(s1[0]) # Access the First character
print(s1[1]) # Access the Second Character
print(s1[5]) # Last Character
print(s1[len(s1)-1]) # Access the Last Character

p
y
n
n

In [71]:
s1= 'python'
print(s1[-1]) # Another way to access the Last Characters
print(s1[-2]) # Another way access the Last Second Characters
print(s1[-6]) # Access the first Characters
print(s1[:2]) # Access the First Characters
print(s1[0:2]) # Another way to access the First Characters 
print(s1[:-3]) # Access the First three Characters 
print(s1[-3:]) # Access the last three Characters
print(s1[2:]) # Access the First Second Character to last characters

n
o
p
py
py
pyt
hon
thon

In [72]:
s1= 'python'
print(s1[1:-1]) # Printing all character except first and last
print(s1[len(s1)//-2]) # middle of the string
print(s1[-1::-1]) # Reverse the string
print(s1[-1:-3:-1]) # Access the last two Characters in reverse order
#Access th Alternate characters 
print(s1[::2]) # Alternative Two Characters
print(s1[::3]) # Alternative three Characters 
print(s1[::-2]) # Alternative Two characters in reverse order

ytho
h
nohtyp
no
pto
ph
nhy

In [73]:
# Reversing of the string 
def reversestring(str):
    return str[-1::-1]
reversestring("Programing")

'gnimargorP'

In [74]:
#check whether the given string is palindrome or not
def ispalindrome(str):
    if str == str[::-1]:
        return True
    else:
        return False
print(ispalindrome("python"))
print(ispalindrome('ganag'))

False
True

### String Built-in methods:
1. upper() -- Will convert the input string into upper case 
2. lower() -- Wil convert the input string into lower case

In [75]:
s1= 'python'
print(s1.upper())
print(s1.lower())

PYTHON
python

In [0]:
### String Boolean Built-in methods
# 1. islower() -- True if the string have all characters lower case 
# 2. isupper() -- True if the string have all characters upper case
# 3. istitle() -- True if the string in title case 
# 4. isnumeric() -- True if the string is numeric
# 5. isalpha() -- True if the string only alphabets 
# 6. isspace() -- True if the string is space

In [80]:
s1='python'
print(s1.islower())

True

In [89]:
s1='PYTHON'
print(s1.isupper())

True

In [87]:
s1='Python'
print(s1.istitle())

True

In [88]:
s1='1'
print(s1.isnumeric())

True

In [84]:
s1='python'
print(s1.isalpha())

True

In [86]:
s1=' '
print(s1.isspace())

True

##String Methods 
- join() -- Methods will concatainates the two strings
- splita() -- split() returns a list of string seperated by white space (No parameters)
- replace() -- replace the specific word/character with new word/character

In [93]:
s1 = 'python'
print(" ".join (s1))

p y t h o n

In [94]:
s1 = 'python program is easy to learn'
print(s1.split())

['python', 'program', 'is', 'easy', 'to', 'learn']

In [96]:
s1 = 'python program is easy to learn'
print(s1.split('a'))

['python progr', 'm is e', 'sy to le', 'rn']

In [97]:
s1 = 'python program is easy to learn'
print(len(s1))
li = s1.split() # Split the string -- list object
print(li)
print(len(li))

31
['python', 'program', 'is', 'easy', 'to', 'learn']
6

In [98]:
s1 = 'python program is easy to learn'
li = list(s1)
print(li)

['p', 'y', 't', 'h', 'o', 'n', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm', ' ', 'i', 's', ' ', 'e', 'a', 's', 'y', ' ', 't', 'o', ' ', 'l', 'e', 'a', 'r', 'n']

In [100]:
s1 = 'python program is easy to learn'
print(s1.replace("gra","Application"))

python proApplicationm is easy to learn